.item{
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 450px;
    /*margin-right: var(--spacing-large);*/
    border-radius: var(--border-radius);
    transition: var(--transition);
    cursor: pointer;

}

.item:hover {
    transform: scale(1.05);
}

.item__header{
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: var(--font-size-subheader);
    text-align: center;
}

.item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius);
}

@media only screen and (max-width: 768px){
    .item{
        margin-bottom: 40px;

    }
}

